@model dynamic
@{
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css"
              integrity="sha512-1k7mWiTNoyx2XtmI96o+hdjP8nn0f3Z2N4oF/9ZZRgijyV4omsKOXEnqL1gKQNPy2MTSP9rIEWGcH/CInulptA=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
    </head>
    <body>
        <script>
            function emailFunction(){
                var mail = document.getElementById("emailUser").value;
                var item = {Email: mail};
                var dataToPost = JSON.stringify(item);
                $.ajax({
                    async: true,
                    type:'POST',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: dataToPost,
                    url:'/Employee/SearchEmail',
                    success:function(response){
                        if(response.status){
                            $('.createButton').show();
                            document.getElementById("p1").innerHTML="Appointment found";
                        }
                        else
                        {
                            document.getElementById("p1").innerHTML="No appointments found";
                            $('.createButton').hide();
                        }
                    }
                });

                $('#appDrop').trigger('change');
            }
        </script>

        <div class="container-fluid" style="margin-bottom:25px">
            <label for="emailUser" class="form-label">Search for appointments by email:</label>
            <input type="email" class="form-control" id="emailUser">
            <p id="p1"></p>

            <button type="button" class="btn btn-primary" onclick="emailFunction()" style="margin-bottom:25px">Search</button>

            <div class="createButton" style="margin-bottom: 25px; display:none">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CarParts", "Employee")'">Create bill for selected client</button>
            </div>
        </div>

    </body>
    </html>
}
